@import "./media.css";
@import "./fonts.css";
@import "./colors.css";

html {
  font-size: 62.5%;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;

  color: --color-dark-chocolate;
  @apply --font-raleway;

  & > article {
    width: 100%;
    height: 100%;
  }
}

.container {
  width: 100%;
  height: 100%;

  display: flex;

  align-content: stretch;

  @media (--mobile) {
    flex-flow: column nowrap;
  }
}

.header {
  display: flex;
  flex: 5 0 auto;

  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  color: var(--color-opulence-chocolate);
  font-size: 10vw;
  background-repeat: no-repeat;
  background-image: url("../static/00.jpg");
  background-position: bottom center;
  background-size: cover;

  & h2, & h3, & h4 {
    margin: 0;
    text-transform: uppercase;
    text-shadow: #CCC 1px 0 10px;
    text-shadow: 0px 1px 1px var(--color-white-chocolate), 0px 2px 1px var(--color-milk-chocolate), 0px 3px 1px var(--color-white-chocolate);
  }

  & h3 {
    font-size: 0.6em;
    border-top: 0.3rem solid var(--color-dark-chocolate);
  }

  & h2 {
    @apply --font-amatic;
    line-height: 1;
    border-bottom: 0.3rem solid var(--color-dark-chocolate);
  }

  & h3, & h2 {
    padding: 0 1rem;
  }

  & h4 {
    color: var(--color-mixed-chocolate);
    font-size: 0.255em;
    margin-top: 0.3em;
  }
}

.content {
  background-color: red;
  flex: 10 0 auto;
}
