@import "./media.css";

/* Font families */
:root {
  --font-amatic: {
    font-family: 'Amatic SC', cursive;
  };

  --font-raleway: {
    font-family: 'Raleway', sans-serif;
  };
}

html {
  font-size: 62.5%;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;

  @apply --font-raleway;

  & > article {
    width: 100%;
    height: 100%;
  }
}

.container {
  width: 100%;
  height: 100%;

  display: flex;

  align-content: stretch;

  @media (--mobile) {
    flex-flow: column nowrap;
  }
}

.header {
  display: flex;
  flex: 5 0 auto;

  background-repeat: no-repeat;
  background-image: url("../static/00.jpg");
  background-position: bottom center;
  background-size: cover;


  font-size: 500%;

  justify-content: center;
  align-items: center;
  & h3 {

  }

  & h2 {
    @apply --font-amatic;
  }

  & h4 {

  }
}

.content {
  background-color: red;
  flex: 10 0 auto;
}
